{% extends 'DiscountBundle::layout.html.twig' %}
{% block content %}
    <script>
        var getSystemProcents = function() {
            $.ajax({
                url: '{{ url('discount_system_procent') }}',
                type: 'post',
                success: function(data)
                {
                    var data = JSON.parse(data);
                    $('#pct-back-setting').attr("placeholder", data.pct_back);
                    $('#pct-parent-firm-setting').attr("placeholder", data.pct_parent_firm);
                    $('#pct-parent-person-setting').attr("placeholder", data.pct_parent_person);
                    $('#pct-system-setting').attr("placeholder", data.pct_system);
                },
                error:function()
                {
                    alert("failure");
                }
            });
        }
        getSystemProcents();
    </script>
    <br>
    <br>
    <br>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div id="flash-notice" class="flash-notice">
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ flashMessage }}
                </div>
                <script>
                    setTimeout(function() {
                        $('#flash-notice').fadeOut('fast');
                    }, 2000); // <-- time in milliseconds
                </script>
            </div>
        {% endfor %}
        <h3 class="text-center">Системные настройки</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Общие проценты</div>
                    <div class="panel-body">
                        <form method="post" action="{{ path('discount_system_procent_update')}}" class="form-horizontal">
                            <div class="input-group">
                                <div class="input-group-addon">Родитель</div>
                                <input type="text" class="form-control" name="pct-back-setting" id="pct-back-setting" placeholder="">
                                <div class="input-group-addon">%</div>
                            </div><br>
                            <div class="input-group">
                                <div class="input-group-addon">Партнер</div>
                                <input type="text" class="form-control" name="pct-parent-firm-setting" id="pct-parent-firm-setting" placeholder="">
                                <div class="input-group-addon">%</div>
                            </div><br>
                            <div class="input-group">
                                <div class="input-group-addon">Абонент</div>
                                <input type="text" class="form-control" name="pct-parent-person-setting" id="pct-parent-person-setting" placeholder="">
                                <div class="input-group-addon">%</div>
                            </div><br>
                            <div class="input-group">
                                <div class="input-group-addon">Система</div>
                                <input type="text" class="form-control" name="pct-system-setting" id="pct-system-setting" placeholder="">
                                <div class="input-group-addon">%</div>
                            </div><br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary center-block">Обновить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}