<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Элбонус{% endblock %}</title>
    <script src="{{ asset('js/jquery-2.1.4.js') }}" type="text/javascript"></script>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
    <script>
        var getSystemProcents = function() {
            $.ajax({
                url: '{{ url('discount_system_procent') }}',
                type: 'post',
                success: function(data)
                {
                    var data = JSON.parse(data);
                    $('#pct-back').html(data.pct_back);
                    $('#pct-parent-firm').html(data.pct_parent_firm);
                    $('#pct-parent-person').html(data.pct_parent_person);
                    $('#pct-system').html(data.pct_system);
                },
                error:function()
                {
                    alert("failure");
                }
            });
        }
        getSystemProcents();
    </script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('discount_abonents') }}"><img width="30px" style="margin-top: -5px" src="{{ asset('images/favicon.png') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') == 'discount_abonents' %} class="active"{% endif %}><a href="{{ url('discount_abonents') }}">Абоненты</a></li>
                <li {% if app.request.get('_route') == 'discount_partners' %} class="active"{% endif %}><a href="{{ url('discount_partners') }}">Партнеры</a></li>
                <li {% if app.request.get('_route') == 'discount_transaction' %} class="active"{% endif %}><a href="{{ url('discount_transaction') }} ">Транзакции</a></li>
                <li {% if app.request.get('_route') == 'discount_system_settings' %} class="active"{% endif %}><a href="{{ url('discount_system_settings') }} ">Настройки</a></li>
            </ul>
            <p class="navbar-text navbar-right" style="padding-right: 20px"><a class="navbar-link glyphicon glyphicon-off" style="text-decoration: none" href="{{ path('logout')}}"></a></p>
            <p style="font-size: 0.95em;" class="navbar-text navbar-right">
                <abbr title="Проценты родителей"><span class="label label-primary">Р: <span id="pct-back"></span>%</span></abbr>
                <abbr title="Проценты партнеров"><span class="label label-primary">П: <span id="pct-parent-firm"></span>%</span></abbr>
                <abbr title="Проценты абонентов"><span class="label label-primary">А: <span id="pct-parent-person"></span>%</span></abbr>
                <abbr title="Проценты системы"><span class="label label-primary">С: <span id="pct-system"></span>%</span></abbr>
            </p>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/jquery.dynatable.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>

</body>
</html>