{% extends 'DiscountBundle::layout.html.twig' %}
{% block content %}
    <br>
    <br>
    <br>

    <div class="container">
        <h3 class="text-center">Транзакции</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Пользователь</th>
                <th>Код клиента</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Код подтверждения</th>
                <th>Дата</th>
                {#<th>Действия</th>#}
            </tr>
            </thead>
            <tbody>
            {% for item in transactions %}
                <tr>
                    <td>{{ item.codeid }}</td>
                    <td>{{ item.code_point }}</td>
                    <td>{{ item.code_client }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.confirm_code }}</td>
                    <td>{{ item.date_system|date("d.m.Y (g:i)") }}</td>
                    <td>{{ item.code_parent }}</td>
                    {#<td></td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}