{% extends 'DiscountBundle::layout.html.twig' %}
{% block content %}
    <br>
    <br>
    <br>
    <script>
        var getAbonentForEdit = function(codeid) {
            $.ajax({
                url: 'abonents/getabonent',
                type: 'post',
                data: {codeid:codeid},
                success: function(data)
                {
                    var data = JSON.parse(data);

                    $('#parentEdit').val(data.user_parent);
                    $('#loginEdit').val(data.login);
                    $('#passwordEdit').val(data.password);
                    $('#user_nameEdit').val(data.user_name);
                    $('#codeidEdit').val(data.codeid);
                    $('#procent_skidkaEdit').val(data.procent_skidka);
                    $('#procent_parentEdit').val(data.procent_parent);
                    $('#procent_systemEdit').val(data.procent_system);

                },
                error:function()
                {
                    alert("failure");
                }
            });
        }

        var getAbonentForPaid = function(codeid) {
            $.ajax({
                url: 'abonents/getabonent',
                type: 'post',
                data: {codeid:codeid},
                success: function(data)
                {
                    var data = JSON.parse(data);

//                    $('#parentEdit').val(data.user_parent);
//                    $('#loginEdit').val(data.login);
//                    $('#passwordEdit').val(data.password);
//                    $('#user_nameEdit').val(data.user_name);
                    $('#codeidPaid').val(data.codeid);

                },
                error:function()
                {
                    alert("failure");
                }
            });
        }
    </script>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div id="flash-notice" class="flash-notice">
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ flashMessage }}
                </div>
                <script>
                    setTimeout(function() {
                        $('#flash-notice').fadeOut('fast');
                    }, 2000); // <-- time in milliseconds
                </script>
            </div>
        {% endfor %}
        <h3 class="text-center">Партнеры
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" type="submit">Добавить</button></h3></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Логин</th>
                <th>ФИО</th>
                <th>Активность</th>
                <th>Проверка по смс</th>
                <th>Баланс</th>
                <th>Процент клиентов</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr>
                    <td>{{ item.codeid }}</td>
                    <td>{{ item.login }}</td>
                    <td>{{ item.user_name }}</td>
                    <td>{{ item.check_active_inn }} </td>
                    <td>{{ item.check_sms }}</td>
                    <td class="">
                        {% if item.balans > 0 %}
                            <span class="label label-info">{{ item.balans }}</span>
                        {% elseif item.balans == 0 %}
                            <span class="label label-success">{{ item.balans }}</span>
                        {% elseif item.balans < 0 %}
                            <span class="label label-danger">{{ item.balans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.procent_skidka > 0 %}
                        {{ item.procent_skidka }} %
                        {% elseif item.procent_skidka <= 0 %}
                        0
                        {% endif %}
                    </td>


                    <td>
                        <a data-toggle="modal" data-target="#myModalEdit" onclick="getAbonentForEdit({{ item.codeid }})"  href="#" class="glyphicon glyphicon-edit"  aria-hidden="true"></a>
                        <a href="{{ path("discount_partner_delete", {'id': item.codeid}) }}" onclick="return confirm('Вы действительно хотите удалить абонента?')" class="glyphicon glyphicon-remove"></a>
                        {% if item.balans > 0 %}
                            <a class="label label-warning" onclick="getAbonentForPaid({{ item.codeid }})" href="#" data-toggle="modal" data-target="#myModalAddTransaction"  >оплатить</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить абонента</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('discount_partner_create')}}">

                        <div class="form-group">
                            <label for="login" class="control-label">Логин</label>
                            <input name="login" type="text" maxlength="5" minlength="5" class="form-control" id="login">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Пароль</label>
                            <input name="password" type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="control-label">ФИО</label>
                            <input name="user_name" type="text" class="form-control" id="user_name">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Изменить абонента</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('discount_partner_edit')}}">
                        <input name="codeid" id="codeidEdit" type="hidden">
                        <div class="form-group">
                            <label for="login" class="control-label">Логин</label>
                            <input name="login" type="text" maxlength="9" minlength="5" class="form-control" id="loginEdit">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Пароль</label>
                            <input name="password" type="password" class="form-control" id="passwordEdit">
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="control-label">ФИО</label>
                            <input name="user_name" type="text" class="form-control" id="user_nameEdit">
                        </div>
                        <div class="form-group">
                            <label for="procent_skidka" class="control-label">Проценты клиентов</label>
                            <input name="procent_skidka" type="text" class="form-control" id="procent_skidkaEdit">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="myModalAddTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Оплатить</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('discount_partner_paid')}}">
                        <div class="form-group">
                            <input name="codeid" id="codeidPaid" type="hidden">
                            <label for="summa" class="control-label">Сумма</label>
                            <input name="summa" type="text" class="form-control" id="summa">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Оплатить</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        $('#myModalEdit').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        $('#myModalAddTransation').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
{% endblock %}
