{% extends 'DiscountBundle::layout.html.twig' %}
{% block content %}
    <br>
    <br>
    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Номер телефона</th>
            <th>Текстовое сообщение</th>
        </tr>
        </thead>
        <tbody>

        {% for item in result %}
            <tr>
                <td>{{ item.codeid }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.sms_text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}