{% extends 'DiscountBundle::layout.html.twig' %}
{% block content %}
    <br>
    <br>
    <br>
<script>
    var getAbonentForEdit = function(codeid) {
        $.ajax({
		url: 'abonents/getabonent',
		type: 'post',
		data: {codeid:codeid},
		success: function(data)
		{
            var data = JSON.parse(data);

            $('#parentEdit').val(data.user_parent);
            $('#loginEdit').val(data.login);
            $('#passwordEdit').val(data.password);
            $('#user_nameEdit').val(data.user_name);
            $('#codeidEdit').val(data.codeid);
            $('#balans').text(data.balans);

		},
		error:function()
		{
			alert("failure");
		}
	});
    }

    var getAbonentTransaction = function(login, codeid) {
        var login = login;
        var codeid = codeid;
        $.ajax({
        url:'abonents/transaction',
        type:'post',
        data:{codeid:codeid, login:login},
            success: function(data)
            {
                if(data == "[]") {
                    $('#transaction-content').html('Абонент не имеет транзакций!');
                }else {
                            $('#transaction-content').html('<table id="my-final-table"  class="table"> <thead> <th data-dynatable-column="code_client">Абонент</th> <th data-dynatable-column="amount">Начисления</th> <th data-dynatable-column="confirm_code">Код подтверждения</th> </thead> <tbody> </tbody> </table> ');
                            var data = JSON.parse(data);
                            $('#my-final-table').dynatable({
                                  features: {
                                    paginate: false,
                                    search: false,
                                    recordCount: false
                                  },
                              dataset: {
                                records: data
                              }
                            });
                }
            },
		error:function()
            {
                console.log('Bad!');
            }
        })

    }
</script>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div id="flash-notice" class="flash-notice">
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ flashMessage }}
                </div>
                <script>
                    setTimeout(function() {
                        $('#flash-notice').fadeOut('fast');
                    }, 2000); // <-- time in milliseconds
                </script>
            </div>
        {% endfor %}
        <h3 class="text-center">Абоненты
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" type="submit">Добавить</button></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Логин</th>
                <th>ФИО</th>
                <th>Статус</th>
                <th>Проверка по смс</th>
                <th>Баланс</th>
                <th>Родитель</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr>
                    <td>{{ item.codeid }}</td>
                    <td>{{ item.login }}</td>
                    <td>{{ item.user_name }}</td>
                    <td> {{ item.check_active_inn }} </td>
                    <td>{{ item.check_sms }}</td>
                    <td class="">
                        {% if item.balans > 0 %}
                            <span class="label label-info">{{ item.balans }}</span>
                        {% elseif item.balans == 0 %}
                            <span class="label label-success">{{ item.balans }}</span>
                        {% elseif item.balans < 0 %}
                            <span class="label label-danger">{{ item.balans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.user_parent == 772333712 %}
                        Вы
                        {% else %}
                        {{ item.user_parent }}
                        {% endif %}
                    </td>
                    <td>

                        <a data-toggle="modal" data-target="#myModalTransaction"  onclick="getAbonentTransaction({{ item.login }}, {{ item.codeid }})"  href="#" class="glyphicon glyphicon-shopping-cart"  aria-hidden="true"></a>&nbsp
                        <a data-toggle="modal" data-target="#myModalEdit" onclick="getAbonentForEdit({{ item.codeid }})"  href="#" class="glyphicon glyphicon-edit"  aria-hidden="true"></a>
                        <a href="{{ path("discount_abonent_delete", {'id': item.codeid}) }}" onclick="return confirm('Вы действительно хотите удалить абонента?')" class="glyphicon glyphicon-remove"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal window -->
    <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Изменить абонента</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('discount_abonent_edit')}}">
                        <input name="codeid" id="codeidEdit" type="hidden">
                        <div class="form-group">
                            <label for="parentEdit" class="control-label">Родитель</label>
                            <input name="parent" type="text" maxlength="9" minlength="5" class="form-control" id="parentEdit">
                        </div>
                        <div class="form-group">
                            <label for="login" class="control-label">Логин</label>
                            <input name="login" type="text" maxlength="9" minlength="5" class="form-control" id="loginEdit">
                        </div>

                        <div class="form-group">
                            <label for="user_name" class="control-label">ФИО</label>
                            <input name="user_name" type="text" class="form-control" id="user_nameEdit">
                        </div>
                        <div class="form-group">
                            <label for="active" class="control-label">Баланс: <span class="label label-info" id="balans"></span></label>

                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Транзакции абонента</h4>
                </div>
                <div id="transaction-content" class="modal-body">

                </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $('#myModalEdit').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })
    </script>
{% endblock %}